<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Insert title here</title>
</head>
<body>
<script src="/js/jquery-1.10.2.min.js"></script>

<p style="color:red">hello world</p>
<hr>
<a href="/goAdd">添加</a>
<br>
<table>
    <thead>
    <tr>
        <th style="text-align: center;width: 50px">序号</th>
        <th style="text-align: center;width: 50px">姓名</th>
        <th style="text-align: center;width: 50px">年龄</th>
    </tr>
    </thead>
    <tbody style="text-align: center;" id="listTbody">

    </tbody>
</table>

<script>
    $(function () {
        searchModel();
    });

    function searchModel() {

        $.get("/user/list", null, function (result) {

            //遍历列表
            var arr = result;
            $("#listTbody").empty();

            var length = arr.length;
            for (var i = 0; i < length; i++) {//for中变量是number
                var m = arr[i];

                var listHtml = '<tr>'+
                    '<td style="text-align: center;width: 50px">' + m.id + '</td>' +
                    '<td style="text-align: center;width: 50px">' + m.name + '</td>' +
                    '<td style="text-align: center;width: 50px">' + m.age + '</td>' +
                    '</tr>';
                $("#listTbody").append(listHtml);
            }
        });
    }
</script>

</body>
</html>